@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 5%;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 1500px;
	width: 95%;
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 370px;
	background-image: url(../images/web2.jpg);
	background-size: cover;
	background-position: top;
	z-index: 1;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	background-color: #142a636c;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.gradient {
	height: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-right: 30%;
}

.full-name {
	color: white;
	font-size: 38px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.main {
	z-index: 2;
}

.personal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 350px;
	min-width: 320px;
	margin-top: -230px;
	margin-left: 172px;
	box-shadow: -1px -1px 13px 6px rgba(0, 0, 0, .1);
	border-radius: 5px;
	overflow: hidden;
}

.avatar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 350px;
	min-height: 350px;
	background-image: url("../images/I`am.jpg");
	background-size: cover;
	background-position: top;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.avatar:hover {
	background-image: url("../images/I`am.jpg");
	background-size: cover;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.84252 0.14303999999999994 0.014439999999999995 0 0 0.04252 0.94304 0.014439999999999995 0 0 0.04252 0.14303999999999994 0.81444 0 0 0 0 0 1 0" /></filter></svg>#filter');
	-webkit-filter: grayscale(20%);
	        filter: grayscale(20%);
}

.info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 20px;
	background-color: white;
}

.contact-container:hover {
	background-color: rgba(227, 223, 248, 0.452);
}

.contact-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	margin-bottom: 15px;
}

.icon {
	opacity: .35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	margin-right: 15px;
}

.value {
	color: rgba(0, 0, 0, .65);
	font-size: 15px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
}

.reaction:hover {
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
}

a {
	text-decoration: none;
}

.social-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	height: 120px;
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
}

.image-size {
	height: 40px;
	width: 40px;
	border-radius: 10%;
}

.education-skills-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	margin-top: -495px;
	margin-left: 540px;
	padding: 15px;
}

.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 350px;
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 10px;
	-webkit-transition: -webkit-transform 200ms;
	transition: -webkit-transform 200ms;
	transition: transform 200ms;
	transition: transform 200ms, -webkit-transform 200ms;
}

.information-container:hover {
	background-color: rgba(227, 223, 248, 0.452);
}

.information-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	-webkit-transition: -webkit-transform 200ms;
	transition: -webkit-transform 200ms;
	transition: transform 200ms;
	transition: transform 200ms, -webkit-transform 200ms;
	overflow: hidden;
}

.icon-article {
	margin-right: 15px;
}

.shadow:hover {
	-webkit-transform: scale(1.05);
	        transform: scale(1.05);
	box-shadow: -1px -1px 13px 6px rgba(0, 0, 0, 0.1)
}

.none {
	display: none;
}

@media (max-width: 1300px) {

	.gradient {
		display: none;
		padding-right: 0px;
	}
	.none {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.contact-container:first-child {
		display: none;
	}
	.education-skills-content   {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;	
		margin-top: -460px;
		margin-left: 550px;
	}
	.none {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 100px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));	
	}
}


@media (max-width: 1160px) {
	
	.personal {
		margin-top: 0;	
		margin-left: 0;
		border-radius: 0;
	}
	.info {
		background-color: white;
	}
	.social-container {
		padding-bottom: 10px;
	}
	.education-skills-content   {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;	
		margin-top: -690px;
		margin-left: 400px;
	}
	.header {
		display: none;
	}
	.none {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.contact-container:first-child {
		display: none;
		}
	.gradient {
		height: 100px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding-right: 0px;
	}
}

@media (max-width: 832px) {

	.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		max-width: 1500px;
		width: 100%;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	
	.personal {
		margin-top: 0;	
		margin-left: 0;
		border-radius: 0;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		width: 100%;
	}

	.info {
		padding-bottom: 0;
	}

	.contact-container:first-child {
		display: none;
		}

	.header {
		display: none;
		
	}
	.none {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.education-skills-content   {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;	
		margin-top: -10px;
		margin-left: 0;
	}
	.content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
		border-radius: 5px;
		padding: 10px;
		padding-bottom: 10px;
		-webkit-transition: -webkit-transform 200ms;
		transition: -webkit-transform 200ms;
		transition: transform 200ms;
		transition: transform 200ms, -webkit-transform 200ms;
	}
	
	.skills {
		min-height: 400px; 
	}
	
	.education {
		min-height: 400px; 
	}
	.main {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		width: 100%;
	}
	.avatar {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
	}
	
	.info {
		-webkit-box-flex:1;
		    -ms-flex:1;
		        flex:1;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.gradient {
		height: 100px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding-right: 0px;
	}
}

@media (max-width: 633px) {
	.personal {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		min-height: 350px;
	}
	.gradient {
		height: 100px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
